
<h1></h1>

<Span>{{title}}</Span>
<div class="row">
    <div class="col">
      <input type="text" class="form-control" [(ngModel)] = user.firstname placeholder="First name" aria-label="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" [(ngModel)] = user.lastname placeholder="Last name" aria-label="Last name">
    </div>
    <div class="col">
        <input type="number" class="form-control" [(ngModel)] = user.age placeholder="Age" aria-label="Age">
      </div>
  </div>

  <h3>Select Gender</h3>
  <div class="form-check">
    <input class="form-check-input" [(ngModel)] = user.Gender value="Male" type="radio" name="gender" id="male">
    <label class="form-check-label" for="male">
     Male
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" [(ngModel)] = user.Gender value="Female" type="radio" name="gender" id="female">
    <label class="form-check-label" for="female">
      Female
    </label>
  </div>


<br>
<br>
<button type="button" class="btn btn-success" (click)="save()">Success</button>


<ol class="list-group list-group-numbered">
  <li *ngFor="let u of Users" class="list-group-item">
    <span>{{u.firstname}}</span><br>
    <span>{{u.lastname}}</span><br>
    <span>{{u.age}}</span><br>
    <span>{{u.Gender}}</span>
  </li>
  
</ol>